body {
background-color: lightgrey;
font-family: Arial, sans-serif;
text-align: center;
}

h1 {
color: rgb(38, 213, 111);
font-size: 40px;
}

p{
color: black;
font-size: 18px;
}

img {
border: 4px solid rgb(33, 199, 152);
border-radius: 10px;
}
